#about {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: 1fr 1fr;
}

#about img {
  width: 100%;
}

#a-left {
  grid-area: left;
  margin: 0 20px 0 10%;
}

#a-right {
  grid-area: right;
  margin:0 10% 0 20px;
}
