html {
    scroll-behavior: smooth;
}

#blog {
  display: grid;
  grid-template-areas:
    "aside article";
  grid-template-columns:270px 1fr;
}

#b-aside {
  grid-area: aside;
  z-index: 0;
  padding: 0 15px;
  border-right: 2px #f99a3a solid;
}

#b-aside-links {
  position: sticky;
  top: 80px;
}

#b-aside-links h1 {
  padding: 0 0 2px 5px;
  margin-bottom: 5px;
  background-color: #f99a3a;
  color: white;
}

#b-aside-links ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#b-aside-links li {
  border-bottom: 2px dotted #f99a3a;
  padding: 10px 0 10px 0;
}

#b-aside-links li:last-of-type {
  border-bottom: none;
}
.bookmark {
  display: inline;
  text-decoration: none;
  color: #878787;
}

.bookmark:hover {
  text-decoration: underline;
}
#b-container {
  grid-area: article;
  width: 90%;
  margin: 0 5%;
}

.info {
  display: flex;
  justify-content: space-between;
}

#b-container h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

#b-container h2 {
  font-size: 1.3em;
  margin: 0;
  display: inline;
}

article {
  border-bottom: 3px #f99a3a solid;
  margin-bottom: 20px;
}

article:last-of-type {
  border-bottom: none;
}

article img {
  width: 40%;
  margin-right:15px;
  float: left;
}

article p {
  overflow: auto;
}
