#cart {
  min-height: 80vh;
}

#title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10%;
  padding-top: 20px;
}

#return-btn {
  padding: 15px 25px;
  font-size: 24px;
  color: #fff;
  background-color: #dd2020;
  text-decoration: none;
}

#return-btn:hover {
  background-color: #b31919;
}

#empty {
  display: none;
}

#c-container {
  width: 80%;
  margin: 0 10%;
}

.product {
  display: grid;
  grid-template-columns: 150px 1fr 250px;
  gap: 0px 0px;
  grid-template-areas:
    "image info buttons";
  border-bottom: 1px solid #f99a3a;
}

.product:first-of-type {
  margin-top: 20px;
  border-top: 1px solid #f99a3a;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.info p {
  margin: 0 0 0 20px;
}

.buttons {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #f99a3a;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 17px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #cf8031;
}

.buttons p {
  display: inline;
}
.memurl {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
  height: 150px;
}

.thumb {
  height: 80%;
  width: 90%;
  object-fit: contain;

}

#checkout {
  width: 80%;
  margin: 20px 10% 0 10%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#checkout h2 {
  display: inline;
  line-height: 57.5px;
}

#checkout #total-quantity {
  margin-right: 30px;
}

#checkout-btn {
  padding: 15px 25px;
  font-size: 24px;
  color: #fff;
  background-color: #dd2020;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  transition: all 0.1s ease-in-out;
}

#checkout-btn:hover {
  background-color: #b31919
}

#checkout-btn:active {
  background-color: #b31919;
  box-shadow: none;
  transform: translateY(5px);
}
