#events {
  display: grid;
  grid-template-areas:
    "gallery gallery"
    "main aside";
  grid-template-columns:1fr 270px;
}

#events h1:first-of-type {
  margin-top: 0;
}

#gallery {
  grid-area: gallery;
}

#owl-gallery img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.owl-dot {
  outline: none;
}

.info {
  grid-area: main;
}

.item {
  background-color: black;
  height: 700px;
}

.info {
  margin: 0 5%;
}

.info h1 {
  margin-top: 50px;
}

.info h1:first-of-type {
  margin: 0;
}

.info img {
  height: 300px;
}
.prize {
  list-style: none;
  padding: 0;
}

.fas {
  color: #f99a3a;
  font-size: 100px;
  vertical-align: center;
  margin-top: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background: #f99a3a;
}

.table td, th {
  text-align: center;
  padding: 2px 5px;
}

.table th {
  color: white;
}

.table tr {
  border-bottom: 1px solid #AAAAAA;
}

.table thead tr{
  border-bottom: none;
}

#e-aside {
  grid-area: aside;
  padding: 0 15px;
  border-left: 2px #f99a3a solid;
}

#e-aside h1 {
  text-align: center;
  margin: 0;
  background-color: #f99a3a;
  color: white;
}
