#index {

}

#container {
  position: fixed;
  background: #dd2020;
  width: 100%;
  height: auto;
  top: 0;
  z-index: -1;


}
#landing {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.6;

}
#overlay {
  position: absolute;
  font-family: "Azonix";
  font-weight: normal;
  white-space: nowrap;
  padding: 0;
  z-index: 2;
  color: white;
  font-size: 6vw;
  top: 36vw;
  left: 50%;
  transform: translate(-50%,110px);
}

#intro {
  width: 80%;
  margin: 0 10%;
}

#intro h1 {
  font-size: 2em;
  padding: 20px 0 0 0;
  margin: 0;
}

#intro h2 {
  font-size: 1.2em;
  margin: 0;
}

#intro hr, #intro img {
  margin-top: 70px;
}

#intro img {
  width: 100%;
  transition: opacity 0.4s ease-in-out;
}
#intro img:hover {
  opacity: 0.8;
}



#guarantees-box {
  margin: 0 10%;
  width: 80%;
}

#guarantees-box > h1 {
  margin-bottom: 40px;
}
#i-guarantees {
  display: flex;
  justify-content: space-between;
}

.guarantee-container {
  width: 30%;
}

#i-guarantees h1 {
  white-space: nowrap;
  text-align: center;
}

#i-guarantees p {
  text-align: justify;
}

#i-guarantees .fas, .far{
  display: block !important;
  text-align: center;
  color: #f99a3a;
  font-size: 100px;
  margin-bottom: 10px;
}

#testimonials {
  margin: 0 10%;
  width: 80%;
}

#testimonials > h1 {
  margin: 70px 0 30px 0 !important;
}

#testimonials h1 {
  margin: 0 0 20px 0;
}

#testimonials p {
  margin: 0 5%;
}

.testimonial-box{
  border: 1px solid #ddd;
  height: 200px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 35px 35px;
  gap: 0px 0px;
  grid-template-areas:
    "portrait review"
    "name review"
    "rating review";
  transition: all 0.4s ease-in-out;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 17px -2px #999;
}

.portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: portrait;
}

.portrait img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#face-1 {
  object-position: 0 0;
}

#face-2 {
  object-position: 0 -3px;
}
.review {
  grid-area: review;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: rating;
}

.rating h1 {
  margin: 0;
}
.rating span {
  position: relative;
  bottom: 1px;
  color: #fc0;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: name;
}

#brands {
  margin: 0 10%;
  padding-bottom: 20px;
  width: 80%;
}

#brands > h1 {
  margin: 70px 0 10px 0;
}

#brands .owl-next:focus, .owl-prev:focus {
  outline: none;
}

#brands .owl-prev {
  left: -20px;
  top: 43%;
}
#brands .owl-next {
  right: -20px;
  top: 45%;
}

#brands .item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#brands img {
  height: auto;
  width: 75%;
  transition: 0.2s ease-in-out;
}

#brands img:hover {
  width: 80%;
}
