.cart {
  color: white;

}
#store {
  display: grid;
  grid-template-areas:
    "aside banner"
    "aside store"
    "aside text";
  grid-template-rows: 350px 1fr auto;
  grid-template-columns:270px 1fr;
}

#store p {
  margin: 0 10% 0 10%;

}

#s-aside {
  grid-area: aside;
  z-index: 0;
  padding: 0 15px;
  border-right: 2px #f99a3a solid;
}

#s-aside h1 {
  padding: 0 0 2px 5px;
  background-color: #f99a3a;
  color: white;
}

#s-aside ul {
  list-style: none;
  padding: 0;
}
#s-aside li {
  border-bottom: 2px dotted #f99a3a;
}

#s-aside li:last-of-type {
  border-bottom: none;
}

#s-aside p {
  margin: 0;
}

#s-aside img {
  margin-top: 20px;
  width: 100%;
}

#s-aside button {
  position: relative;
  bottom: inherit;
  width: 100%;
  margin: 5px 0 20px 0;
}

.bookmark {
  display: inline;
  text-decoration: none;
  color: #878787;
}

#banner {
  grid-area: banner;
  width: 100%;
}
#s-container {
  grid-area: store;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(155px, 300px));
  grid-auto-rows: 370px;
  grid-auto-flow: dense;
  justify-content: center;
  padding: 10px 10px 10px;
  margin-bottom: 10px;
}

.product {
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.5);
}

.memurl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgba(113, 113, 113, 0.1);
  border-radius: 6px;
  box-shadow: 0 4px 3px -3px rgba(0,0,0,0.5);
  transition: ease-in-out 0.4s;
}

.memurl:hover {
  background-color: rgba(248, 153, 58, 0.7);
}
.memurl .thumb {
height: 80%;
width: 80%;
object-fit: contain;
}

.name {
  margin-top: 10px !important;
  font-weight: bold;
}
.price-container {
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.price {
  display: inline;
  color: #878787;
  margin: 3px 0 0 0 !important;

}
.rating {
  display: inline;
  margin: 0 !important;
  -webkit-text-stroke: 0.5px #fc0;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.add {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  width: 80%;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #dd2020;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #9a1414;
  transition: all 0.1s ease-in-out;
}

.add:hover {background-color: #bb1a1a}

.add:active {
  background-color: #bb1a1a;
  box-shadow: none;
  transform: translate(-50%, 5px);
}

#return {
  grid-area: text;
  margin: 0 0 20px 0;
  text-align: center;

}
